.fraseContainer {
    background-color: #fff;
    border: 1px dashed #424251;
}

.fraseContent {
    color: #000076;
    font-weight: 800;
    font-family: 'Arial';
    font-size: 14px;
}

.botaoEvento {
    margin-bottom: 15px;
}